/* <!happybodyworks.com 
        Web Developpper: Raphael Cohen
        http://www.raphaelcohen.design
        June 6, 2017 */
/* General styles */
body {
    font-family: lato, arial, sans-serif;
    margin: 0;
    border: 0;

    /* This removes the border around the viewport in old versions of IE */
    width: 100%;
    background-size: 100%;

    /* font-size: 90%; */
    line-height: 25px;
    color: #444;
}

#logo {
    text-align: center;
    margin: 0;
    padding-top: 70px;
}

#logo img {
    border: none;
    border-radius: 0;

    /* width: 20%;
        max-width: 100%; */
}

#header {
    background: url(images/stones_beach.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    /* width: 100%;
    height: 100%; */
}

#about {
    background: url(images/finger_water.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    margin: 0 0 0 0;

    /* padding-bottom: 400px; */
}

#contact {
    background: url(images/stackstones.jpg);
    background-repeat: no-repeat;

    /* background-position: center; */
    background-size: cover;
    width: 100%;
    height: 100%;
    margin: 0 0 0 0;
    padding-bottom: 400px;
}

#privacy_policy {
    background: url(images/starfish_shades.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(5,4,2,0.1);
    width: 100%;
    height: auto;
    margin: 0 0 0 0;
    max-width: 100%;
}

#policy_copy {
    padding: 100px 200px;
    background: white;
    opacity: .5;
    color: black;
}

#times {
    background: url(images/time.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
}

#ecourse_container {
    background: url(images/finger_water.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 99vh;
}

.intrinsic-containter {
    padding-top: 5em;
    padding-bottom: 3em;

    /* width: 100%; */
    /* height: auto; */
    /* max-height: 99vh; */
}

/* -- hamburger menu formatting -- */
/* @media screen and (max-width: ;
    my-custom-mobile-css{background: awesome!;}
}
} */
a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
}

a:hover {
    color: orange;
}

#menuToggle {
    /* background-color: orange; */
    color: orange;
    display: block;
    position: relative;
    top: 50px;
    left: 50px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
    position: fixed;
}

#menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -7px;
    cursor: pointer;
    opacity: 0;

    /* hide this */
    z-index: 2;

    /* and place it over the hamburger */
    -webkit-touch-callout: none;
    margin-left: 2px;
    padding-left: 0px;
}

/* * Just a quick hamburger */
#menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: orange;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child {
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

/* * Transform all the slices of hamburger
 * into a crossmark. */
#menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
}

/* * But let's hide the middle one. */
#menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

/* * Ohyeah and the last one should go the other direction */
#menuToggle input:checked ~ span:nth-last-child(2) {
    opacity: 1;
    transform: rotate(-45deg) translate(0, -1px);
}

/* * Make this absolute positioned
 * at the top left of the screen */
#menu {
    position: absolute;
    width: 119px;
    margin: -53px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;

    /* to stop flickering of text in safari */
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li {
    padding: 10px 0;
    font-size: 22px;
    color: orange;
}

/* * And let's fade it in from the left */
#menuToggle input:checked ~ ul {
    transform: scale(1.0, 1.0);
    opacity: 1;
}

/* --------------------------------------------------------------
    general link formatting
    ---------------------------------------------------------------- */
a:link,
a:visited {
    color: white;
}

a:hover {
    color: white;
    text-decoration: none;
}

a.selected {
    color: white;
}

/* a:visited{
    color: white;
} */
#navcontainer {
    position: fixed;
    top: 0;
    padding: 15px 0;

    /* width: 100%; */
    font-size: 130%;
    text-align: center;
    background: #FF9933	;
    color: #fff;

    /* z-index: 200; */
    overflow: hidden;
}

#navcontainer a {
    text-decoration: none;
    color: orange;
    padding: 0 15px;
    font-size: 15px;
    text-transform: uppercase;
}

#navcontainer a:hover {
    color: orange;
}

email p a:hover {
    color: #3399ff;
}

#aviva_about a {
    color: #FF9933;
}

#aviva_about a:hover {
    color: #3399ff;
}

#contact a {
    color: white;
}

.contact a:hover[
    color: #3399ff;
]



  





    /* -----------------------------------------
    image formatting
    ----------------------------------------------------------------*/

/* barral logo */
#about img {
    max-width: 40%;
    height: auto;
}

#times {
    margin-top: 47px;
}

#times img {
    width: 100%;
    height: auto;
}

#facbook img {
    position: fixed;
}

.facebook {
    position: fixed;

    /* left: 400px; */
    padding: 30px 30px 0 4px;

    /* margin-top: -35px; */
    /* margin-right: 100px; */
    /* margin-bottom: -15px; */
}

.intrinsic-container {
    position: relative;
    height: 0;
    overflow: hidden;
    height: 99vh;
    width: auto;
}

/* 16x9 Aspect Ratio */
.intrinsic-container-16x9 {
    padding-bottom: 56.25%;
}

/* 4x3 Aspect Ratio */
.intrinsic-container-4x3 {
    padding-bottom: 75%;
}

.intrinsic-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-height: 900px;
    max-width: 1400px;
}

#intrinsic-container video {
    padding: 0;
}

#video {
    position: relative;
    height: 1em;
    width: 50%;
    margin: 0 auto;
    padding-bottom: 27%;
}

#video iframe {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    max-height: 900px;
    max-width: 1400px;
    border: 2px orange solid;
    display: block;
}

#page img {
    display: block;
    margin: 0 auto;
    background-size: cover;
}

#page {
    background-size: cover;
}

/* --------------------------------------------------------------
    general formatting
    ---------------------------------------------------------------- */
blockquote {
    font-size: 150%;

    /* background: tranparrent; */
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D";
    margin-left: 50px;
}

blockquote:before {
    color: #FF9933;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

blockquote p {
    display: inline;
}

.module {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;

    /* row | row-reverse | column | column-reverse; */
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    /* nowrap | wrap | wrap-reverse; */
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;

    /* flex-start | flex-end | center | space-between | space-around; */
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    /* flex-start | flex-end | center | baseline | stretch; */
    margin: 0 auto 20px auto;
    width: 95%;
}

.module .image {
    width: 40%;
}

.module:nth-child(2n) .image {
    order: 2;
}

.module .image img {
    width: 70%;
    height: auto;
    display: block;
    border-radius: 50%;
    margin-left: 40px;
}

.module .text {
    width: 60%;
    margin: 0 0 0 0;
}

.module .text p {
    font-size: 18px;
    line-height: 30px;
}

h1 {
    text-align: center;
    color: white;
    background: #FF9933;
    font-size: 300%;
    padding: 40px 0;
    max-height: 100%;
    margin-top: auto;

    /* padding-top: 40Px; */
}

#top_page {
    text-align: center;
}

h2 {
    padding: 0 0 0 0;
}

h3 {
    font-size: 200%;
    margin: 2em 0 .2em 0;
    padding: 18px 18px 30px 3px;
}

#h3_container {
    padding-left: 100px;
}

h4 {
    font-size: 300%;
    text-align: center;
    color: white;
    background: #FF9933;
    padding: 70px 0;
    max-height: 100%;
    margin-top: auto;
}

h5 {
    font-size: 220%;
    text-align: center;
    line-height: 110%;

    /* margin-top: 1%;
    margin-bottom: 1%; */
}

#about,
#FAQ,
#contact,
#top_page {
    width: 100%;
    margin: 0 auto;
}

.appointment a:hover {
    color: #fff;
    background: hotpink;
    border: solid 2px #fff;
}

p {
    margin: .4em 0 .8em 0;

    /* padding: 0 0 0 30px; */
    /* max-width: 950x; */
}

#hours {
    font-size: 130%;
    padding: 0 0 0 0;
}

/* Header styles */
#header {
    width: 100%;
    min-height: 99vh;
}

/* 'widths' sub menu */
#layoutdims {
    clear: both;
    background: #eee;
    border-top: 4px solid #000;
    margin: 0;
    padding: 6px 15px !important;
    text-align: right;
}

/* column container */
.colmaskwwwww {
    /* position:relative; */
    /* This fixes the IE7 overflow hidden bug */
    clear: both;
    float: left;
    width: 100%;

    /* width of whole page */
    overflow: hidden;

    /* This chops off any overhanging divs */
}

/* Full page settings */
.fullpage {
    max-width: 100%;
    margin: auto;
}

.fullpage .col1 {
    width: 96%;

    /* page width minus left and right padding */
    /* page left padding */
}

#aviva_about {
    padding: 0 40px;
}

#contact_info {
    text-align: left;
    padding: 40px 0 0 40px;
}

#treatment {
    font-size: 110%;
}

.treatment img {
    font-size: 120%;
}

#iahp {
    padding: 5% 0;
    font-size: 130%;
}

#ecourses a {
    font-size: 160%;
    text-align: center;
    margin: 0 0 10% 0;
    color: white;
}

#ecourses {
    text-align: center;
    padding-top: 3%;
}

/* --------------------------------------------------------------
    formatting - the list
    ---------------------------------------------------------------- */
ul.rig {
    list-style: none;
    font-size: 0px;
    margin: 0;
    text-align: center;
    padding: 0;
}

ul.rig li {
    display: inline-block;
    padding: 10px;
    margin: 0 2.5% 2.5% 2.5%;
    background: #fff;
    border: 1px solid #ddd;
    font-size: 16px;
    font-size: 1rem;
    vertical-align: top;
    box-shadow: 0 0 5px #ddd;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

    /* min-height: 520px; */
    text-align: left;
}

ul.rig li img {
    width: 100%;
    height: auto;
    margin: 0 0 10px;
}

ul.rig li h3 {
    margin: 0 0 5px;
}

ul.rig li p {
    font-size: .9em;
    line-height: 1.5em;
    color: #999;
}

/* class for 2 columns */
ul.rig.columns-2 li {
    width: 47.5%;
}

/* class for 3 columns */
ul.rig.columns-3 li {
    width: 26%;
}

dl.col-list {
    margin: 0;
    padding: 0;
    -webkit-column-count: 2;

    /* Chrome, Safari, Opera */
    -moz-column-count: 2;

    /* Firefox */
    column-count: 2;
    min-height: 130px;
}

dl.col-list dt {
    margin: 0;
    padding: 0;
    min-height: 0;
    box-shadow: none;
    border: none;
    display: block;
    width: auto!important;
    font-size: 14px;
    color: #777;
}

dl.col-list dt:before {
    content: "•";
    margin-right: 10px;
}

/* --------------------------------------------------------------
    footer content formatting
    ---------------------------------------------------------------- */
#ecourse_footer {
    position: static;
    bottom: 0;
    width: 100%;
    height: 100px;
    margin: 0 auto;
}

.footer {
    background: #FF9933;
    text-align: center;
    clear: both;
    float: left;
    width: 100%;
}

.footer p {
    padding: 10px;
    margin: 0;
}

/* --------------------------------------------------------------
    media screen formatting
    ---------------------------------------------------------------- */
@media screen and (max-width:700px){
    #ecourse_footer {
        position: static;
    }

    #header {
        min-height: 99vh;
        width: auto;
    }

    /* h5{
        font-size: 80%;
} */
}

@media screen and (max-width: 800px) {
    h4 {
        font-size: 30px;

        /* margin-top: 90px; */
    }

    .module {
        display: block;
        margin: 0 0 50px 0;
    }

    .module .image {
        width: 100%;
        margin: 0 auto 25px auto;
        max-width: 300px;
    }

    .module .text {
        width: 100%;
        text-align: center;
    }

    #ul.rig {
        max-height: 40%;
    }

    #h3_container {
        padding-left: 40px;
    }

    .facebook {
        /* position: static; */
        margin: 0;
    }

    #logo img {
        border: none;
        border-radius: 0;
        width: 40%;
        max-width: 100%;
    }

    #h5 {
        line-height: 20px;
        padding-top: 10%;
    }
}

/* -----------closes 800px---------------- 



    @media screen and (max-width: 600px) {
     
        
         #navcontainer a {
        text-decoration: none;
        color: #fff;
        padding: 0 15px;
        font-size: 15px;
        text-transform: uppercase;
             display: block;
        }
        
.marker
        {display: none;}

        


         #about, #FAQ, #contact, #top_page {
/*        padding-top: 80px; */
/* width: 90%; */
/* margin: 0 auto; */
.img appointment {
    padding: 140px 0 0 0;
}

#header img {
    border: none;
    border-radius: 0;
    padding: 0;
}

#blockquote {
    text-align: left;
    font-size: 40%;
}

.module {
    margin: auto;
}

.about {
    margin: auto;
}

#contact_info {
    text-align: center;
    padding: 0 0 0 0;
}

ul.rig li {
    width: 62.5% !important;
}

/* closes 600px */
@media (max-width: 400px) {
    ul.rig li {
        width: 66.5% !important;
    }

    #aviva_info {
        text-align: center;
    }

    #dt {
        width: 50%;
    }
}

@media screen and (max-width: 350px) {
    h4 {
        font-size: 18px;
        width: 62.5% !important;
    }

    #h3 {
        font-size: 100%;
    }

    dt.col-list {
        /* column-count: 1; */
        width: auto;
    }

    .contact.img {
        max-height: 50%;
        max-width: 50%;
        padding-top: 30px;
    }

    #contact_info {
        text-align: center;
        padding: 0 0 0 0;
    }
}

@media screen and (max-width: 350px){
    width: 66.5% !important;
}

/* ----- iPhone7 Landscape ----- */
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) 
and (orientation : landscape) {
    /* 3 columns */
    ul.rig li {
        width: 30.83%!important;
    }

    .intrinsic-containter {
        height: auto;
        min-width: : 99vh;
        padding-bottom: 1em;
        padding-top: 1em;
    }

    /* #video{
    max-height: 40%!important
width: 99vh;
} */
    #ecourse_container {
        height: auto;
    }
}

/* ------close iPhone7 Landscape ---- */
/* ----- iPad Landscape ----- */
@media only screen and (orientation: landscape) {
    /* 3 columns */
    ul.rig li {
        width: 30.83%!important;
    }

    /* #video{
    height: 99vh!important;
max-width: 40%;
} */
}

/* ------close ipad Landscape ---- */
/* ----- iPad Portrait ----- */
@media screen (max-width: 768px) {
    ul.rig li {
        width: 62% !important;
        margin: 0 0 10px 0;
    }
}





}
        

        
        
        
        
        
        

        
      
        
        
        
        
        
        
}